[id^='Gateway-Frame-Container'] {
  position: absolute;
  display: block;
  z-index: 1000;
  cursor: move;

  padding: 10px;
  background-color: #2196f3;
  border: 1px solid #d3d3d3;
}

#Gateway-Frame {
  position: relative;
  z-index: 1;

  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.Minimized {
  display: none;
}
